body {
    background-color: rgb(150, 147, 147);
}

.singleViews {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 3px black;
    border-radius: 12px;
    color: greenyellow;
    background-color: black;
}