.container{
    width: 61.5%;
    background-color: #0D5D56;;
    margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 550px;
    border: solid 2px black;
    border-radius: 12px;

}

.mapContainer {
    background-color: white;
    margin-top: 3.85%;
    margin-left: 25%;
    padding: 35px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 800px;
    width: 50%
}

.mapDiv{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 25%;
    height: 350px;
    width: 50%;
    border: 2px solid black;
}

.mapInputContainer{
    background-color: rgb(31, 30, 30);
    color: white;
    font-size: 1.2vw;
    margin-top: 20px;
    margin-bottom: 5%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#origin{
    width: 80%;
}

#destination{
    width: 80%;
}

.input {
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 1px;
}

::placeholder {
    color: gray;
    font-size: 1vw;
}

.output{
    color:greenyellow;
}

.iconMap {
    margin-right: 80%;
}

.btn {
    margin-bottom: 5px;
    margin-left: 0%;
    margin-top: 5%;
    border: 1px solid black;
    font-size: 1.2vw;
    border-radius: 12px;
    width: 85%;
    color: greenyellow;
    background-color: rgb(51, 48, 48);
}

.btn:hover{
    background-color: greenyellow;
    color: rgb(51, 48, 48);
}

.resultDiv {
    margin-left: 2%;
    padding: 10px;
}

.result {
    margin-top: 5px;
}
