.mapContainer {
    background-color: white;
    margin-top: 3.85%;
    margin-left: 25%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 80px;
    width: 50%;
}

#origin {
    margin-right:60px
}

#destination{
    margin-right: 50px;
}

.mapResults {
    margin-right: 80%; 
    display: flex;
    flex-direction: column;
}

.mapResults p {
    margin-left: 95px;
}

.mapDiv{
    height: 500px;
}

